In [4]:
import glob
import pandas as pd
import os
import json
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import DBSCAN

hall=1
filepath = f"datasets\evaluacion\\positional_information\\3_eval_cluster_hall_{hall}.csv"
df = pd.read_csv(filepath,dtype={"original_cluster":str,"cluster":str})
df.head()

,name,price,price_conf,description,description_conf,code,code_conf,original_cluster,cluster
0,1_0_bot_0,$5.99,0.956962,SALERO PIMENTERO C/BASE DE,0.839300,NaN,NaN,000001,000000
1,1_0_bot_1,$12.99,0.907390,SET DE TAZON C/BASE DE MODERN 33 CM HOME CLUB 4,0.787969,NaN,NaN,000002,000001
2,1_0_bot_2,$1.59,0.897103,PLATO HONDO DE PORCELANA 28 CM HOME CLUB,0.899302,102024000,0.799082,000003,000002
3,1_0_bot_3,$ 2.99,0.977059,PLATO TENDIDO DE CERAMICA 24 CM HOME CLUB BLANCO,0.972503,NaN,NaN,000004,000003
4,1_0_bot_4,$5.99,0.976352,DE CERAMICA REPOSTERO HOME CLUB 3 PZAS,0.957459,102436000,0.946945,000005,000004

In [5]:
#https://scikit-learn.org/stable/modules/generated/sklearn.metrics.adjusted_rand_score.html
#https://scikit-learn.org/stable/modules/clustering.html#rand-score
from sklearn.metrics import adjusted_rand_score,rand_score
print(adjusted_rand_score(df["original_cluster"], df["cluster"]))

0.8731605348684387

In [10]:
rand_score([1,2,3,4,3,2,4,5],[11,12,13,14,23,22,14,15])

0.9285714285714286